#####################################################################
#
# All the elbox supported boards are listed here.
#
#####################################################################

#####################################################################
# WMX-RG01E
if ELBOX_BOARD_WMXRG01E
config ELBOX_BOARD_NAME
	string
	default "wmxrg01e"
config ELBOX_BSP_865x_VD
	bool
	default y
endif

#####################################################################
# WMX-RG02E
if ELBOX_BOARD_WMXRG02E
config ELBOX_BOARD_NAME
	string
	default "wmxrg02e"
config ELBOX_BSP_8651C_VOIP
	bool
	default y
endif

#####################################################################
# WMX-CO02E
if ELBOX_BOARD_WMXCO02E	
config ELBOX_BOARD_NAME
	string
	default "wmxco02e"
config ELBOX_BSP_5VT13XX
	bool
	default y
endif

#####################################################################
# Wireless G Access Point
#####################################################################

#####################################################################
# WAP-G14
if ELBOX_BOARD_WAPG14
config ELBOX_BOARD_NAME
	string
	default "wapg14"
config ELBOX_BSP_AR231X
	bool
	default y
endif
#####################################################################
# WAP-G18
if ELBOX_BOARD_WAPG18
config ELBOX_BOARD_NAME
	string
	default "wapg18"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WAP-N03
if ELBOX_BOARD_WAPN03
config ELBOX_BOARD_NAME
	string
	default "wapn03"
config ELBOX_BSP_IXP42X_26
	bool
	default y
endif

#####################################################################
# WAP-N06
if ELBOX_BOARD_WAPN06
config ELBOX_BOARD_NAME
	string
	default "wapn06"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WAP-N07
if ELBOX_BOARD_WAPN07
config ELBOX_BOARD_NAME
    string
    default "wapn07"
config ELBOX_BSP_RT305X
    bool
    default y
endif

#####################################################################
# WAP-N09
if ELBOX_BOARD_WAPN09
config ELBOX_BOARD_NAME
	string
	default "wapn09"
config ELBOX_BSP_RT305X
	bool
	default y
config ELBOX_WRGN23_WAN_UP_DETECT_BY_INTERRUPT
	bool "Use interrupt to trigger wan detection in fresetd."
	default n
endif

#####################################################################
# WAP-N10
if ELBOX_BOARD_WAPN10
config ELBOX_BOARD_NAME
    string
	default "wapn10"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
endif

#####################################################################
# AP-1525
if ELBOX_BOARD_AP1525
config ELBOX_BOARD_NAME
    string
	default "ap1525"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
endif

################################################################################
# Wireless N dual band Access Point
################################################################################

################################################################################
# WAP-ND01
if ELBOX_BOARD_WAPND01
config ELBOX_BOARD_NAME
	string
	default "wapnd01"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WAP-ND02
config ELBOX_BOARD_NAME
	string
	default "wapnd02"
	depends on ELBOX_BOARD_WAPND02

choice
	prompt "BSP Selection"
	default ELBOX_BSP_WAPND02
	depends on ELBOX_BOARD_WAPND02
	help
		Select the H/W platform.

	config ELBOX_BSP_WAPND02
		bool "BSP v1.5"
		help
			Linux kernel version 2.6.16.26 and Gcc version 4.1.1

	config ELBOX_BSP_WAPND02_1_9
		bool "BSP v1.9"
		help
			Linux kernel version 2.6.27.7 and Gcc version 4.3.3
endchoice


#####################################################################
# WAP-ND03
if ELBOX_BOARD_WAPND03
config ELBOX_BOARD_NAME
	string
	default "wapnd03"
config ELBOX_BSP_AR9132_26
	bool
	default y
endif
#####################################################################
# WAP-ND03CM
if ELBOX_BOARD_WAPND03CM
config ELBOX_BOARD_NAME
	string
	default "wapnd03cm"
config ELBOX_BSP_AR9132_26
	bool
	default y
endif

#####################################################################
# WAP-N08
if ELBOX_BOARD_WAPN08
config ELBOX_BOARD_NAME
	string
	default "wapn08"
	depends on ELBOX_BOARD_WAPN08

choice
        prompt "BSP Selection"
        default ELBOX_BSP_AR7240_26
        depends on ELBOX_BOARD_WAPN08
        help
                Select the H/W platform.

        config ELBOX_BSP_AR7240_26
                bool "SDK 9.0"
                help
                        Linux kernel version 2.6.15 and Gcc version 3.4.4

        config ELBOX_BSP_AR7240_26_31
                bool "SDK 9.1"
                help
                        Linux kernel version 2.6.31 and Gcc version 4.3.3

        config ELBOX_BSP_AR7240_26_31_CUC_N08_H
                bool "SDK 9.1 extended"
                help
                        Linux kernel version 2.6.31 and Gcc version 4.3.3
endchoice

config ELBOX_PROGS_PRIV_WAPN08_HIGHPOWER
	prompt "N08 true high power"
	bool 
	default n
	depends on ELBOX_BSP_AR7240_26_31_CUC_N08_H

endif

#####################################################################
# WAP-N12
if ELBOX_BOARD_WAPN12
config ELBOX_BOARD_NAME
	string
	default "wapn12"
	depends on ELBOX_BOARD_WAPN12

choice
        prompt "BSP Selection"
        default ELBOX_BSP_AR7240_26_31_WAPN12
        depends on ELBOX_BOARD_WAPN12
        help
                Select the H/W platform.

        config ELBOX_BSP_AR7240_26_31_WAPN12
                bool "SDK 9.1"
                help
                        Linux kernel version 2.6.31 and Gcc version 4.3.3
endchoice

endif

#####################################################################
# WAP-N11
if ELBOX_BOARD_WAPN11
config ELBOX_BOARD_NAME
	string
	default "wapn11"
	depends on ELBOX_BOARD_WAPN11

choice
        prompt "BSP Selection"
        default ELBOX_BSP_AR7240_26_CUC
        depends on ELBOX_BOARD_WAPN11
        help
                Select the H/W platform.

        config ELBOX_BSP_AR7240_26_CUC
                bool "SDK 9.0"
                help
                        Linux kernel version 2.6.15 and Gcc version 3.4.4

        config ELBOX_BSP_AR7240_26_31_CUC
                bool "SDK 9.1"
                help
                        Linux kernel version 2.6.31 and Gcc version 4.3.3
endchoice



endif

#####################################################################
#####################################################################
# WAP-N11H
if ELBOX_BOARD_WAPN11H
config ELBOX_BOARD_NAME
	string
	default "wapn11h"
	depends on ELBOX_BOARD_WAPN11H

choice
        prompt "BSP Selection"
        default ELBOX_BSP_AR7240_26_CUC_H
        depends on ELBOX_BOARD_WAPN11H
        help
                Select the H/W platform.

        config ELBOX_BSP_AR7240_26_CUC_H
                bool "SDK 9.0"
                help
                        Linux kernel version 2.6.15 and Gcc version 3.4.4, hardware:high power.

        config ELBOX_BSP_AR7240_26_31_CUC_H
                bool "SDK 9.1"
                help
                        Linux kernel version 2.6.31 and Gcc version 4.3.34, hardware:high power.
endchoice


endif

#####################################################################

#####################################################################
# WAP-N18
if ELBOX_BOARD_WAPN18
config ELBOX_BOARD_NAME
	string
	default "wapn18"
	depends on ELBOX_BOARD_WAPN18

choice
        prompt "BSP Selection"
        default ELBOX_BSP_AR7240_26_WAPN18
        depends on ELBOX_BOARD_WAPN18
        help
                Select the H/W platform.

        config ELBOX_BSP_AR7240_26_WAPN18
                bool "SDK 9.0"
                help
                        Linux kernel version 2.6.15 and Gcc version 3.4.4, hardware:high power.

        config ELBOX_BSP_AR7240_26_31_WAPN18
                bool "SDK 9.1"
                help
                        Linux kernel version 2.6.31 and Gcc version 4.3.34, hardware:high power.
endchoice


endif

#####################################################################

# WAP-ND04
if ELBOX_BOARD_WAPND04
config ELBOX_BOARD_NAME
	string
	default "wapnd04"
config ELBOX_BSP_AR9132_26
	bool
	default y
endif

#####################################################################
# WAP-ND04
if ELBOX_BOARD_WAPND04CM
config ELBOX_BOARD_NAME
	string
	default "wapnd04cm"
config ELBOX_BSP_AR9132_26
	bool
	default y
endif

#####################################################################
# WAP-ND06
if ELBOX_BOARD_WAPND06
config ELBOX_BOARD_NAME
	string
	default "wapnd06"

choice
	prompt "BSP Selection"
	default ELBOX_BSP_WAPND06
	depends on ELBOX_BOARD_WAPND06
	help
		Select the H/W platform.

	config ELBOX_BSP_WAPND06
		bool "BSP v1.5"
		help
			Linux kernel version 2.6.16.26 and Gcc version 4.1.1

	config ELBOX_BSP_WAPND06_1_9
		bool "BSP v1.9"
		help
			Linux kernel version 2.6.27.7 and Gcc version 4.3.3
endchoice
endif

#####################################################################
# WAP-ND09
if ELBOX_BOARD_WAPND09
config ELBOX_BOARD_NAME
	string
	default "wapnd09"
config ELBOX_BSP_WAPND09
	bool
	default y
endif

#####################################################################
## WAP-ND14, BESTBUY, RFHTN102
if ELBOX_BOARD_WAPND14
config ELBOX_BOARD_NAME
    string
        default "wapnd14"
        config ELBOX_BSP_BCM5357
            bool
                default y
                endif

#####################################################################
# WAP-ND15
if ELBOX_BOARD_WAPND15
config ELBOX_BOARD_NAME
    string
	default "wapnd15"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
endif
#####################################################################
# WAP-ND16
if ELBOX_BOARD_WAPND16
config ELBOX_BOARD_NAME
 	string
 	default "wapnd16"
config ELBOX_BSP_AR9344
 	bool
 	default y
endif
#####################################################################
# WAP-ND17
if ELBOX_BOARD_WAPND17
config ELBOX_BOARD_NAME
 	string
 	default "wapnd17"
config ELBOX_BSP_AR9344
 	bool
 	default y
endif

#####################################################################
# Wired router
#####################################################################

#####################################################################
# RG-12
if ELBOX_BOARD_RG12
config ELBOX_BOARD_NAME
	string
	default "rg12"
config ELBOX_BSP_RT305X
	bool
	default y
endif

#####################################################################
# Wireless G router
#####################################################################

#####################################################################
# WRG-G14
if ELBOX_BOARD_WRGG14
config ELBOX_BOARD_NAME
	string
	default "wrgg14"
config ELBOX_BSP_RTL8186
	bool
	default y
endif

#####################################################################
# WRG-G14C
if ELBOX_BOARD_WRGG14C
config ELBOX_BOARD_NAME
	string
	default "wrgg14c"
config ELBOX_BSP_RTL8186
	bool
	default y
endif

#####################################################################
# WRG-G15C
if ELBOX_BOARD_WRGG15C
config ELBOX_BOARD_NAME
	string
	default "wrgg15c"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G16
if ELBOX_BOARD_WRGG16
config ELBOX_BOARD_NAME
	string
	default "wrgg16"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G19
if ELBOX_BOARD_WRGG19
config ELBOX_BOARD_NAME
	string
	default "wrgg19"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G19 rev 0C1
if ELBOX_BOARD_WRGG19_C
config ELBOX_BOARD_NAME
	string
	default "wrgg19_c"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G19 rev 0C1
if ELBOX_BOARD_WRGG19_C_ART
config ELBOX_BOARD_NAME
	string
	default "wrgg19c_art"
config ELBOX_EMBEDDED_INITRD
	bool
	default y
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G19 for hotspot (chillispot)
if ELBOX_BOARD_WRGG19_C_HSPOT
config ELBOX_BOARD_NAME
	string
	default "wrgg19_c_hspot"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G22
if ELBOX_BOARD_WRGG22
config ELBOX_BOARD_NAME
	string
	default "wrgg22"
config ELBOX_BSP_RTL865X
	bool
	default y
endif

#####################################################################
# WRG-G23
if ELBOX_BOARD_WRGG23
config ELBOX_BOARD_NAME
	string
	default "wrgg23"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G24
if ELBOX_BOARD_WRGG24
config ELBOX_BOARD_NAME
	string
	default "wrgg24"
config ELBOX_BSP_AR231X
	bool
	default y
endif

#####################################################################
# WRG-G27
if ELBOX_BOARD_WRGG27
config ELBOX_BOARD_NAME
        string
        default "wrgg27"
config ELBOX_BSP_BCM5354
        bool
        default y
endif

#####################################################################
# WRG-G27HP
if ELBOX_BOARD_WRGG27HP
config ELBOX_BOARD_NAME
        string
        default "wrgg27hp"
config ELBOX_BSP_BCM5354
        bool
        default y
endif

#####################################################################
# WRG-G27-3G
if ELBOX_BOARD_WRGG27_3G
config ELBOX_BOARD_NAME
        string
        default "wrgg27_3g"
config ELBOX_BSP_BCM5354
        bool
        default y
endif

#####################################################################
# RT3052
if ELBOX_BOARD_RT3052
config ELBOX_BOARD_NAME
	string
	default "rt3052"
config ELBOX_BSP_RT305X
	bool
	default y

choice
	prompt "Kernel config"
	default ELBOX_BSP_RT305X_CONFIG
	help
		Select the kernel config file.

config ELBOX_BSP_RT305X_CONFIG
	bool "General RT305X config"
	help
		Support all features

config ELBOX_BSP_RT305X_CONFIG_WO_USB_FS_IPV6
	bool "Without USB/FileSystem/IPv6"
	help
		This config does not include USB, FileSystem and IPv6.

endchoice
endif

#####################################################################
# Wireless N router
#####################################################################

#####################################################################
# WRG-N02
if ELBOX_BOARD_WRGND02
config ELBOX_BOARD_NAME
        string
        default "wrgnd02"
config ELBOX_BSP_AR7100
        bool
        default y
endif

#####################################################################
# WRG-N06
if ELBOX_BOARD_WRGN06
config ELBOX_BOARD_NAME
	string
	default "wrgn06"
config ELBOX_BSP_IXP42X_26
	bool
	default y
endif

#####################################################################
# WRG-N06C
if ELBOX_BOARD_WRGN06C
config ELBOX_BOARD_NAME
	string
	default "wrgn06c"
config ELBOX_BSP_IXP42X_26
	bool
	default y
endif

#####################################################################
# WRG-N09
if ELBOX_BOARD_WRGN09
config ELBOX_BOARD_NAME
	string
	default "wrgn09"
config ELBOX_BSP_5VT13XX
	bool
	default y
endif

#####################################################################
# WRG-N10
if ELBOX_BOARD_WRGN10
config ELBOX_BOARD_NAME
	string
	default "wrgn10"
config ELBOX_BSP_5VT13XX
	bool
	default y
endif

#####################################################################
# WRG-N13
if ELBOX_BOARD_WRGN13
config ELBOX_BOARD_NAME
	string
	default "wrgn13"
config ELBOX_BSP_AR7100_26
	bool
	default y
endif

#####################################################################
# WRG-N15
if ELBOX_BOARD_WRGN15
config ELBOX_BOARD_NAME
	string
	default "wrgn15"
config ELBOX_BSP_5VT13XX
	bool
	default y
endif

#####################################################################
# WRG-N15C
if ELBOX_BOARD_WRGN15C
config ELBOX_BOARD_NAME
	string
	default "wrgn15c"
config ELBOX_BSP_5VT13XX
	bool
	default y
endif

#####################################################################
# WRG-N16
if ELBOX_BOARD_WRGN16
config ELBOX_BOARD_NAME
	string
	default "wrgn16"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-N16A
if ELBOX_BOARD_WRGN16A
config ELBOX_BOARD_NAME
	string
	default "wrgn16a"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-N18
if ELBOX_BOARD_WRGN18
config ELBOX_BOARD_NAME
	string
	default "wrgn18"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-N18
if ELBOX_BOARD_SWRGN18
config ELBOX_BOARD_NAME
	string
	default "swrgn18"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-N18N
if ELBOX_BOARD_WRGN18N
config ELBOX_BOARD_NAME
	string
	default "wrgn18n"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-N19, it support A band via miniPCI
if ELBOX_BOARD_WRGN19
config ELBOX_BOARD_NAME
	string
	default "wrgn19"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-N20
if ELBOX_BOARD_WRGN20
config ELBOX_BOARD_NAME
	string
	default "wrgn20"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-N22
if ELBOX_BOARD_WRGN22
config ELBOX_BOARD_NAME
	string
	default "wrgn22"
config ELBOX_BSP_RT305X
	bool
	default y

config ELBOX_WRGN22_DISABLE_QUICKGAMESTART_BUTTON
	bool "Disable QUICK GAME START button function in GPIOD."
	default n
endif

#####################################################################
# WRG-N22S for Samsung sample delivery
if ELBOX_BOARD_WRGN22S
config ELBOX_BOARD_NAME
	string
	default "wrgn22s"
config ELBOX_BSP_RT305X
	bool
	default y
config ELBOX_WRGN22S_USE_VENDER_WPS
	bool "Use Ralink's WPS(include wfa device) instead of our wpstools."
	default y

config ELBOX_WRGN22S_DISABLE_QUICKGAMESTART_BUTTON
	bool "Disable QUICK GAME START button function in GPIOD."
	default n
endif

#####################################################################
# WRG-N23
if ELBOX_BOARD_WRGN23
config ELBOX_BOARD_NAME
	string
	default "wrgn23"
config ELBOX_BSP_RT305X
	bool
	default y
config ELBOX_WRGN23_DISABLE_QUICKGAMESTART_BUTTON
	bool "Disable QUICK GAME START button function in GPIOD."
	default n
config ELBOX_WRGN23_WAN_UP_DETECT_BY_INTERRUPT
	bool "Use interrupt to trigger wan detection in fresetd."
	default n
endif
#####################################################################
# WRG-N23I
if ELBOX_BOARD_WRGN23I
config ELBOX_BOARD_NAME
	string
	default "wrgn23i"
config ELBOX_BSP_RT305X
	bool
	default y
endif
#####################################################################
# WRG-N23TD
if ELBOX_BOARD_WRGN23TD
config ELBOX_BOARD_NAME
	string
	default "wrgn23td"
config ELBOX_BSP_RT305X
	bool
	default y
endif
#####################################################################
# WRG-N23HA
if ELBOX_BOARD_WRGN23HA
config ELBOX_BOARD_NAME
	string
	default "wrgn23ha"
config ELBOX_BSP_RT305X
	bool
	default y
endif

#####################################################################
# DIR605D1
if ELBOX_BOARD_WRGN27
config ELBOX_BOARD_NAME
    string
	    default "wrgn27"
config ELBOX_BSP_BCM4716
    bool
	    default y
endif

#####################################################################
# DIR627
if ELBOX_BOARD_WRGN27U
config ELBOX_BOARD_NAME
	string
		default "wrgn27u"
config ELBOX_BSP_BCM5357
	bool
		default y
endif

#####################################################################
# WRG-N28
if ELBOX_BOARD_WRGN28
config ELBOX_BOARD_NAME
	string
	default "wrgn28"
config ELBOX_BSP_RT305X
	bool
	default y
endif

#####################################################################
# WRG-N45P
if ELBOX_BOARD_WRGN45P
config ELBOX_BOARD_NAME
	string
	default "wrgn45p"
config ELBOX_BSP_RTL8198
	bool
	default y
endif


#####################################################################
# WRG-N38
if ELBOX_BOARD_WRGN38
config ELBOX_BOARD_NAME
	string
	default "wrgn38"
config ELBOX_BSP_BCM5357
	bool
	default y
endif

#####################################################################
# WRG-N39
if ELBOX_BOARD_WRGN39
config ELBOX_BOARD_NAME
	string
	default "wrgn39"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33 
	bool
	default y
endif

#####################################################################
# DIR617
if ELBOX_BOARD_WRGN29
config ELBOX_BOARD_NAME
	string
		default "wrgn29"
config ELBOX_BSP_BCM4716
	bool
		default y
endif


#####################################################################
# WRG-N33
if ELBOX_BOARD_WRGN33
config ELBOX_BOARD_NAME
	string
	default "wrgn33"
config ELBOX_BSP_AR7240
	bool
	default y
endif
#####################################################################
# WRG-N34
if ELBOX_BOARD_WRGN34
config ELBOX_BOARD_NAME
	string
	default "wrgn34"
config ELBOX_BSP_RT305X
	bool
	default y
config ELBOX_WRGN23_DISABLE_QUICKGAMESTART_BUTTON
	bool "Disable QUICK GAME START button function in GPIOD."
	default n
config ELBOX_WAN_UP_DETECT_BY_INTERRUPT
	bool "Use interrupt to trigger wan detection in fresetd."
	default n
endif
#####################################################################
# WRG-N49
if ELBOX_BOARD_WRGN49
config ELBOX_BOARD_NAME
	string
	default "wrgn49"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
config ELBOX_WRGN23_DISABLE_QUICKGAMESTART_BUTTON
	bool "Disable QUICK GAME START button function in GPIOD."
	default n
config ELBOX_WAN_UP_DETECT_BY_INTERRUPT
	bool "Use interrupt to trigger wan detection in fresetd."
	default n
endif
#####################################################################
# WRG-N50
if ELBOX_BOARD_WRGN50
config ELBOX_BOARD_NAME
 	string
 	default "wrgn50"
config ELBOX_BSP_AR9341
 	bool
 	default y
endif

#####################################################################
# WRG-N51
if ELBOX_BOARD_WRGN51
config ELBOX_BOARD_NAME
 	string
 	default "wrgn51"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
 	bool
 	default y
endif

#####################################################################
# WRG-N59
if ELBOX_BOARD_WRGN59
config ELBOX_BOARD_NAME
	string
	default "wrgn59"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
config ELBOX_WAN_UP_DETECT_BY_INTERRUPT
	bool "Use interrupt to trigger wan detection in fresetd."
	default n
endif

#####################################################################
# WRG-N62
if ELBOX_BOARD_WRGN62
config ELBOX_BOARD_NAME
	string
	default "wrgn62"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
config ELBOX_WAN_UP_DETECT_BY_INTERRUPT
	bool "Use interrupt to trigger wan detection in fresetd."
	default n
endif

#####################################################################
#####################################################################
# Wireless N Dual band router
#####################################################################

#####################################################################
# WRG-ND03
if ELBOX_BOARD_WRGND03
config ELBOX_BOARD_NAME
	string
	default "wrgnd03"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-ND04, it support A band via miniPCI
if ELBOX_BOARD_WRGND04
config ELBOX_BOARD_NAME
	string
	default "wrgnd04"
config ELBOX_BSP_RT2880_24
	bool
	default y
endif

#####################################################################
# WRG-ND06
if ELBOX_BOARD_WRGND06
config ELBOX_BOARD_NAME
	string
	default "wrgnd06"
config ELBOX_BSP_RT3883_SDK3330
	bool
	default y
endif

#####################################################################
# WRG-ND07
if ELBOX_BOARD_WRGND07
config ELBOX_BOARD_NAME
	string
	default "wrgnd07"
#config ELBOX_BSP_RT3883_SDK3330
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y

choice
	prompt "  WPS and WPA/WPA2"
	default ELBOX_WRGND07_USE_HOSTAPD_WPS
	help
		Select the method to handle the WPS and WPA/WPA2.

	config ELBOX_WRGND07_USE_HOSTAPD_WPS
		bool "Use hostapd to handle WPS and WPA/WPA2"
		help
			Use hostapd to handle WPS and WPA/WPA2. The version of this hostapd is newer than wpstools.

	config ELBOX_WRGND07_USE_VENDER_WPS
		bool "Use Ralink's own WPS and WPA/WPA2."
		help
			Use Ralink's WPS including wfa device and WPA/WPA2 instead of our wpstools or hostapd.

endchoice
endif

#####################################################################
# WRG-ND12
if ELBOX_BOARD_WRGND12
config ELBOX_BOARD_NAME
	string
	default "wrgnd12"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33 
	bool
	default y
endif

# WRG-ND21
if ELBOX_BOARD_WRGND21
config ELBOX_BOARD_NAME
	string
	default "wrgnd21"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
endif

#####################################################################
# WRG-N42P
if ELBOX_BOARD_WRGN42P
config ELBOX_BOARD_NAME
	string
	default "wrgn42p"
config ELBOX_BSP_RT3883_SDK3330
	bool
	default y
endif

#####################################################################
# WRG-N42
if ELBOX_BOARD_WRGN42
config ELBOX_BOARD_NAME
	string
		default "wrgn42"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
endif

#####################################################################
# WRG-ND08
if ELBOX_BOARD_WRGND08
config ELBOX_BOARD_NAME
	string
	default "wrgnd08"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
endif

if ELBOX_BOARD_WRGN37
config ELBOX_BOARD_NAME
    string
	default "wrgn37"
config ELBOX_BSP_CNS3420_KERNEL_V2_6_31
    bool
	default y
endif

#####################################################################
# WRG-ND09
if ELBOX_BOARD_WRGND09
config ELBOX_BOARD_NAME
	string
	default "wrgnd09"
config ELBOX_BSP_BCM5357
	bool
	default y
endif

#####################################################################

# WRG-ND10
if ELBOX_BOARD_WRGND10
config ELBOX_BOARD_NAME
	string
	default "wrgnd10"
config ELBOX_BSP_RT3883_KERNEL_V2_6_33
	bool
	default y
endif

#####################################################################

#####################################################################
# WRG-ND11
if ELBOX_BOARD_WRGND11
config ELBOX_BOARD_NAME
	string
	default "wrgnd11"
config ELBOX_BSP_UBICOM32_SDK21
	bool
	default y
endif
#####################################################################

#####################################################################
# WRG-ND14
if ELBOX_BOARD_WRGND14
config ELBOX_BOARD_NAME
	string
	default "wrgnd14"
config ELBOX_BSP_UBICOM32_KERNEL_V2_6_36
	bool
	default y
endif
#####################################################################

#####################################################################
# UBICOM IP8K EVAL board
if ELBOX_BOARD_IP8KEVAL
config ELBOX_BOARD_NAME
	string
	default "ip8keval"
config ELBOX_BSP_UBICOM32_SDK21
	bool
	default y
endif
#####################################################################

#####################################################################
# NAS router 
#####################################################################

#####################################################################
# DIR665 Nas router
if ELBOX_BOARD_WRGNS01
config ELBOX_BOARD_NAME
	string
	default "wrgns01"
config ELBOX_BSP_STORM3516
	bool
	default y
endif

#####################################################################
# TD router 
#####################################################################

#####################################################################
# WTD-RG01
if ELBOX_BOARD_WTDRG01
config ELBOX_BOARD_NAME
	string
	default "wtdrg01"
config ELBOX_BSP_RT305X
	bool
	default y
endif

#####################################################################
# WTD-RV01
if ELBOX_BOARD_WTDRV01
config ELBOX_BOARD_NAME
	string
	default "wtdrv01"
config ELBOX_BSP_RT305X
	bool
	default y
endif

#####################################################################
# What is this router ??? Is it router ???
#####################################################################

#####################################################################
# WHD-RV01
if ELBOX_BOARD_WHDRV01
config ELBOX_BOARD_NAME
	string
	default "whdrv01"
config ELBOX_BSP_RT305X
	bool
	default y
endif

#####################################################################
# HPW310AV
if ELBOX_BOARD_HPW310AV
config ELBOX_BOARD_NAME
	string
	default "hpw310av"
config ELBOX_BSP_BCM5358
 	bool
 	default y
endif
#####################################################################
# HPW310AV version 2 using atheros sulotion
if ELBOX_BOARD_HPW310AV_ATHEROS
config ELBOX_BOARD_NAME
	string
	default "hpw310av_ath"
config ELBOX_BSP_AR9341_PLC
 	bool
 	default y
endif

#####################################################################
# DIR865
if ELBOX_BOARD_WRGAC01
config ELBOX_BOARD_NAME
	string
	default "wrgac01"
config ELBOX_BSP_BCM4706
	bool
	default y
	
endif
