#####################################################################
#
# All the elbox supported BSPs are listed here.
#
#####################################################################

#####################################################################
# Atheros AR231X WiSOC

if ELBOX_BSP_AR231X
config ELBOX_BSP_NAME
	string
	default "ar231x"
# Linux kernel : 2.4.25
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 4
config ELBOX_LINUX_BUILD
	int
	default 25
endif

#####################################################################
# Intel IXP42X

if ELBOX_BSP_IXP42X_26
config ELBOX_BSP_NAME
	string
	default "ixp42x.26"
# Linux kernel : 2.6.13
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 13
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif

#####################################################################
# Realtek 8186

if ELBOX_BSP_RTL8186
config ELBOX_BSP_NAME
	string
	default "rtl8186"
# Linux kernel : 2.4.18
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 4
config ELBOX_LINUX_BUILD
	int
	default 18
endif

#####################################################################
# 5VT 5VT131x

if ELBOX_BSP_5VT13XX
config ELBOX_BSP_NAME
    string
    default "5vt13xx"
# Linux kernel : 2.6.17
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 6
config ELBOX_LINUX_BUILD
    int
    default 17
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif

#####################################################################
# Realtek 865x

if ELBOX_BSP_RTL865X
config ELBOX_BSP_NAME
	string
	default "rtl865x"
# Linux kernel : 2.4.26
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 4
config ELBOX_LINUX_BUILD
	int
	default	26
endif

#####################################################################
# Broadcom 5354

if ELBOX_BSP_BCM5354
config ELBOX_BSP_NAME
        string
        default "bcm5354"
# Linux kernel : 2.4.26
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 4
config ELBOX_LINUX_BUILD
        int
        default 20
endif
#####################################################################
# atheros ar7100

if ELBOX_BSP_AR7100
config ELBOX_BSP_NAME
        string
        default "ar7100"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif


#####################################################################
# Ralink RT2880

if ELBOX_BSP_RT2880_24
config ELBOX_BSP_NAME
    string
    default "rt288x.24"
# Linux kernel : 2.4.30
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 4
config ELBOX_LINUX_BUILD
    int
    default 30
endif


#####################################################################
# Realtek RTL8198

if ELBOX_BSP_RTL8198
config ELBOX_BSP_NAME
	string
	default "rtl8198"
# Linux kernel : 2.6.30
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 30
config ELBOX_INSTALL_LIBRT_SO
	bool "Install librt.so"
	default n
config ELBOX_INSTALL_LIBPTHREAD_SO
	bool "Install libpthread.so"
	default n
	help
		For e2fsprogs
endif


#####################################################################
# Ralink RT305x

if ELBOX_BSP_RT305X
config ELBOX_BSP_NAME
	string
	default "rt305x"
# Linux kernel : 2.6.21
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 21
config ELBOX_INSTALL_LIBGCC_A_SO
	bool "Install libgcc_s.so"
	default n
	help
		For gcc-4.1.2, libgcc_s.so is required, but not for gcc-3.3.5
endif

#####################################################################
# Ralink RT3883 (from SDK3330)

if ELBOX_BSP_RT3883_SDK3330
config ELBOX_BSP_NAME
	string
	default "rt3883.sdk3330"
# Linux kernel : 2.6.21
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 21
endif
#####################################################################
# Ralink RT3883 (from daniel port 2.6.33)

if ELBOX_BSP_RT3883_KERNEL_V2_6_33
config ELBOX_BSP_NAME
	string
	default "rt3883.kernel-2.6.33"
# Linux kernel : 2.6.33
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 33
endif
#####################################################################
# Cavium CNS-3420 

if ELBOX_BSP_CNS3420_KERNEL_V2_6_31
config ELBOX_BSP_NAME
	string
	default "cns3420.kernel-2.6.31"
	# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 31
endif
#####################################################################
# Atheros AR7100

if ELBOX_BSP_AR7100_26
config ELBOX_BSP_NAME
	string
	default "ar7100-2.6.15-mips"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 15
endif

#####################################################################
# realtek 865x vd
if ELBOX_BSP_865x_VD
config ELBOX_BSP_NAME
	string
	default "re865x_vd"
# Linux kernel : 2.4.26
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 4
config ELBOX_LINUX_BUILD
	int
	default 26
endif

#####################################################################
# Realtek 8651c with Voip

if ELBOX_BSP_8651C_VOIP
config ELBOX_BSP_NAME
    string
    default "rtk8651c"
# Linux kernel : 2.4.18
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 4
config ELBOX_LINUX_BUILD
    int
    default 18
endif
#####################################################################
# Atheros AP83

if ELBOX_BSP_AR9132_26
config ELBOX_BSP_NAME
	string
	default "ar9132.26"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif
######################################################################
# Cavium CN30XX/CN50XX

if ELBOX_BSP_WAPND02
config ELBOX_BSP_NAME
	string
	default "cn30xx"
# Linux kernel : 2.6.16
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 16
endif

if ELBOX_BSP_WAPND02_1_9
config ELBOX_BSP_NAME
	string
	default "octeon-linux-1.9"
# Linux kernel : 2.6.27.7
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 27
config ELBOX_BSP_GNUCLIB
	bool
	default y
endif


if ELBOX_BSP_WAPND06_1_9
config ELBOX_BSP_NAME
	string
	default "octeon-linux-1.9"
# Linux kernel : 2.6.27.7
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 27
config ELBOX_BSP_GNUCLIB
	bool
	default y
endif
######################################################################
# Cavium CN50XX

if ELBOX_BSP_WAPND06
config ELBOX_BSP_NAME
	string
	default "cn30xx"
# Linux kernel : 2.6.16
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 16
endif

######################################################################
# Cavium CN50XX

if ELBOX_BSP_WAPND09
config ELBOX_BSP_NAME
	string
	default "cn30xx"
# Linux kernel : 2.6.16
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 16
endif

######################################################################
# storlink sl3516

if ELBOX_BSP_STORM3516
config ELBOX_BSP_NAME
	string
	default "storm3516"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif
######################################################################
# Broadcom 4716
if ELBOX_BSP_BCM4716
config ELBOX_BSP_NAME
    string
    default "bcm4716"
# Linux kernel : 2.4.20
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 4
config ELBOX_LINUX_BUILD
    int
    default 20
endif

######################################################################
# Broadcom 4718
if ELBOX_BSP_BCM4718
config ELBOX_BSP_NAME
    string
    default "bcm4718"
# Linux kernel : 2.4.20
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 4
config ELBOX_LINUX_BUILD
    int
    default 20
endif

######################################################################
# Broadcom 5357
if ELBOX_BSP_BCM5357
config ELBOX_BSP_NAME
    string
    default "bcm5357"
# Linux kernel : 2.6.22
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 6
config ELBOX_LINUX_BUILD
    int
    default 22
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif

#####################################################################
# Atheros AP99

if ELBOX_BSP_AR7240
config ELBOX_BSP_NAME
        string
        default "AR7240-2.6.15"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
config ELBOX_INSTALL_LIBUTIL_SO
	bool
	default y
endif
######################################################################
# Atheros AP101

if ELBOX_BSP_AR7240_26
config ELBOX_BSP_NAME
        string
        default "ar7240-26.15"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif

if ELBOX_BSP_AR7240_26_31
config ELBOX_BSP_NAME
        string
        default "ar7240-26.31"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
       bool
       default y
endif

######################################################################
# Atheros AP101

if ELBOX_BSP_AR7240_26_31_WAPN12
config ELBOX_BSP_NAME
        string
        default "ar7240-26.31"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
       bool
       default y
endif


######################################################################
# Atheros AP101

if ELBOX_BSP_AR7240_26_CUC
config ELBOX_BSP_NAME
        string
        default "ar7240-26.15"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif

if ELBOX_BSP_AR7240_26_31_CUC
config ELBOX_BSP_NAME
        string
        default "ar7240-26.31"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
       bool
       default y
endif
######################################################################


######################################################################
# Atheros AP101

if ELBOX_BSP_AR7240_26_CUC_H
config ELBOX_BSP_NAME
        string
        default "ar7240-26.15"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif

if ELBOX_BSP_AR7240_26_31_CUC_H
config ELBOX_BSP_NAME
        string
        default "ar7240-26.31"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
       bool
       default y
endif

if ELBOX_BSP_AR7240_26_31_CUC_N08_H
config ELBOX_BSP_NAME
        string
        default "ar7240-26.31"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
       bool
       default y
endif

if ELBOX_BSP_AR7240_26_WAPN18
config ELBOX_BSP_NAME
        string
        default "ar7240-26.15"
# Linux kernel : 2.6.15
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 15
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif

if ELBOX_BSP_AR7240_26_31_WAPN18
config ELBOX_BSP_NAME
        string
        default "ar7240-26.31"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
       bool
       default y
endif
######################################################################

# UBICOM IP8100 evaluation board

if ELBOX_BSP_UBICOM32_SDK21
config ELBOX_BSP_NAME
	string
	default "ubicom32-dist-3.0"
# linux kernel 2.6.28
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 28
endif

######################################################################

# UBICOM IP82xx evaluation board

if ELBOX_BSP_UBICOM32_KERNEL_V2_6_36
config ELBOX_BSP_NAME
	string
	default "ubicom32-kernel-2.6.36"
config ELBOX_LINUX_MAJOR
	int
	default 2
config ELBOX_LINUX_MINOR
	int
	default 6
config ELBOX_LINUX_BUILD
	int
	default 36
endif

######################################################################

# Atheros DB120
 
if ELBOX_BSP_AR9344
config ELBOX_BSP_NAME
        string
        default "AR9344-2.6.31"      
# Linux kernel : 2.6.31

config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
 bool
 default y
config ELBOX_INSTALL_LIBUTIL_SO
 bool
 default y
endif

######################################################################
# Atheros AP123
 
if ELBOX_BSP_AR9341
config ELBOX_BSP_NAME
        string
        default "AR9344-2.6.31"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
 bool
 default y
config ELBOX_INSTALL_LIBUTIL_SO
 bool
 default y
endif

######################################################################
# Atheros9.3  AP123_PLC
 
if ELBOX_BSP_AR9341_PLC
config ELBOX_BSP_NAME
        string
        default "AR9341-2.6.31-PLC9.3"
# Linux kernel : 2.6.31
config ELBOX_LINUX_MAJOR
        int
        default 2
config ELBOX_LINUX_MINOR
        int
        default 6
config ELBOX_LINUX_BUILD
        int
        default 31
config ELBOX_INSTALL_LIBGCC_A_SO
 bool
 default y
config ELBOX_INSTALL_LIBUTIL_SO
 bool
 default y
endif

######################################################################
# Broadcom 5358
if ELBOX_BSP_BCM5358
config ELBOX_BSP_NAME
    string
    default "bcm5358"
# Linux kernel : 2.6.22
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 6
config ELBOX_LINUX_BUILD
    int
    default 22
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
endif
######################################################################
# Broadcom 4706
if ELBOX_BSP_BCM4706
config ELBOX_BSP_NAME
    string
    default "bcm47xx"
# Linux kernel : 2.6.22
config ELBOX_LINUX_MAJOR
    int
    default 2
config ELBOX_LINUX_MINOR
    int
    default 6
config ELBOX_LINUX_BUILD
    int
    default 22
config ELBOX_INSTALL_LIBGCC_A_SO
	bool
	default y
config ELBOX_BSP_KERNEL_PATH
	string
	default "bcm47xx/broadcom_sdk/linux/linux-2.6"
endif

######################################################################
